<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LoremDwightsum</title>
</head>
<body>
  <h1>Lorem Dwightsum</h1>
  <p>Thank you for choosing the most Dwight focused placeholder image utility ever created.</p>
  <p>To use just include the a link to our service in your img tag</p>
  <pre><img src="http://localhost:5000/200/200" /></pre>
  <p>Will render the below:</p>
  <img src="http://localhost:5000/200/200" alt="">
</body>
</html>